<h2>Ejemplos de Formulario</h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Formulario reactivos</h3>
    <div class="panel-body">

      <form [formGroup]="employeeForm" novalidate>

        <div class="form-group">
          <label for="name">Nombre</label>
          <input type="text" class="form-control" formControlName="name" />
          <div [hidden]="
                employeeForm.controls['name'].valid || 
                employeeForm.controls['name'].pristine" 
                class="alert alert-danger">
            El campo no es correcto.
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" formControlName="email"/>
          <div [hidden]="employeeForm.controls['email'].valid || employeeForm.controls['email'].pristine" class="alert alert-danger">
            El campo no es correcto.
          </div>
        </div>

        <div class="form-group">
          <label for="job">Job</label>
          <select class="form-control" name="job" formControlName="job">
            <option *ngFor="let job of jobs" [value]="job">{{ job }}</option>
          </select>
        </div>        

        <div class="checkbox">
          <label>
            <input type="checkbox" name="isActive" formControlName="isActive" />
             ¿Activo?
          </label>
        </div>

      </form>

    </div>
  </div>
</div>
