<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" [innerHTML]="title"></a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li routerLinkActive="active"><a [routerLink]="['data-binding']">Data binding</a></li>
          <li routerLinkActive="active"><a [routerLink]="['directivas']">Directivas</a></li>
          <li routerLinkActive="active"><a [routerLink]="[{outlets: {menu2: ['filtros']} }]">Filtros</a></li>
          <li routerLinkActive="active"><a [routerLink]="['formularios']">Formularios</a></li>
          <li routerLinkActive="active"><a [routerLink]="['formularios-reactivos']">Formularios reactivos</a></li>
          <li routerLinkActive="active"><a [routerLink]="['rutas']">Rutas</a></li>
          <li routerLinkActive="active"><a [routerLink]="['comunicacion']">Comunicación</a></li>
          <li routerLinkActive="active"><a [routerLink]="['contactos']">Contactos</a></li>          
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>