<h4>MIS CONTACTOS</h4>
<div class="panel panel-default">
  <div class="panel-heading">Listado de contactos</div>

  <table class="table table striped">
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Teléfono</th>            
      <th>Acciones</th>      
    </tr>
    <tr *ngFor="let contact of contacts">
      <td> {{ contact.id }}</td>
      <td> {{ contact.name }}</td>
      <td> {{ contact.phone }}</td>     
      <td>
        <button class="btn btn-primary glyphicon glyphicon-pencil"
        (click)="loadContact(contact)"
        ></button>
        <button class="btn btn-danger glyphicon glyphicon-trash"
        (click)="deleteContact(contact, button)" #button
        ></button>        
      </td>      
    </tr>
  </table>

</div>

<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Crear/editar contactos</h3>
      <div class="panel-body">

        <form [formGroup]="contactForm" novalidate>
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" 
                name="name" formControlName="name"
              />
            </div>
            <div class="form-group">
              <label>Teléfono</label>
              <input type="text" class="form-control" 
              name="phone" formControlName="phone"
              />
            </div>
            <button (click)="nuevoContacto(contactForm)" *ngIf="contact.id == null" class="btn btn-succcess" [disabled]="!contactForm.valid">
              Añadir contacto
            </button>           

        </form>

      </div>
    </div>
  </div>