<div style="padding: 20px; background-color: #e0e0e0;">
  <div class="label label-primary">COMPONENTE RESTA</div>

  <button class="btn btn-default" (click)="child.resta()">
    Resta
  </button>
  <button class="btn btn-default" (click)="restaEnTodos()">
    Resta en todos
  </button>

  <!-- Carga todos los app-child2 que están dentro de la etiqueta
       app-resta
  -->
  <ng-content></ng-content>

</div>
