<h2>Ejemplos de Data Binding</h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Interpolación</h3>
    <div class="panel-body">
      {{ ejemplo1 }}
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Property binding</h3>
    <div class="panel-body">
      <a [href]="'mailto:' + ejemplo2.email" [innerHTML]="ejemplo2.name"></a>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Event binding</h3>
    <div class="panel-body">
      <button (click)="sumaAction()" class="btn btn-default">Pulsar</button>
      Nº de clics: <span class="badget">{{ counter }}</span>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Two-way binding</h3>
    <div class="panel-body">
      <input [(ngModel)]="content" class="form-control" />
      <div class="alert alert-info">El contenido es: {{ content }}</div>
    </div>
  </div>
</div>

<app-listado-contactos></app-listado-contactos>