<h2>Ejemplos de Pipes</h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Filtro de fecha</h3>
    <div class="panel-body">
      Aplicando filtro dd/MM/yyyy HH:mm => {{ birthdate|date:'dd/MM/yyyy HH:mm'}}
      <br/>
      Aplicando filtro 'fullDate' => {{ birthdate|date:'fullDate'}}
      <br/>
      Aplicando filtro 'shortDate' => {{ birthdate|date:'shortDate'}}      
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Filtro de cadena</h3>
    <div class="panel-body">
      Texto en mayúsculas: {{ dummyText|uppercase }}
      <br/>
      Texto en minúsculas: {{ dummyText|lowercase }}        
    </div>
  </div>
</div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Filtro personalizado I</h3>
      <div class="panel-body">
        Sin filtro: {{ htmlText }}
        <br/>
        Con filtro: {{ htmlText|stripHtml }}
      </div>
    </div>
  </div>  