<h2>Ejemplos de Formulario</h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Formulario (con ngModel)</h3>
    <div class="panel-body">

      <form (ngSubmit)="envioFormulario(employeeForm)" #employeeForm="ngForm">

        <div class="form-group">
          <label for="name">Nombre</label>
          <input type="text" class="form-control" required minlength="4" name="name" [(ngModel)]="employee.name" #nameState="ngModel" />
          <div [hidden]="nameState.valid || nameState.pristine" class="alert alert-danger">
            El campo no es correcto.
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" required minlength="4" name="email" [(ngModel)]="employee.email" #emailState="ngModel" />
          <div [hidden]="emailState.valid || emailState.pristine" class="alert alert-danger">
            El campo no es correcto.
          </div>
        </div>

        <div class="form-group">
          <label for="job">Job</label>
          <select class="form-control" name="job" [(ngModel)]="employee.job">
            <option *ngFor="let job of jobs" [value]="job">{{ job }}</option>
          </select>
        </div>        

        <div class="checkbox">
          <label>
            <input type="checkbox" name="isActive" [(ngModel)]="employee.isActive" />
             ¿Activo?
          </label>
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!employeeForm.form.valid">
          Enviar
        </button>

      </form>

    </div>
  </div>
</div>
