<h2>Ejemplos de Directivas</h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Directivas estructurales: *ngFor</h3>
    <div class="panel-body">
      <strong>Lista de colores</strong>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let color of colores; let i = index">          
          {{ i+1 }}. {{ color }}
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Directivas estructurales: *ngIf</h3>
      <div class="panel-body">
        <button class="btn btn-default" (click)="cambiaColor('azul')">Azul</button>
        <button class="btn btn-default" (click)="cambiaColor('verde')">Verde</button>
        <div class="label label-primary" *ngIf="colorActivo == 'azul'">
          COLOR ACTIVO AZUL
        </div>
        <div class="label label-info" *ngIf="colorActivo == 'verde'">
            COLOR ACTIVO VERDE
          </div>        
      </div>
    </div>
  </div>

  <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Directivas estructurales: ngTemplate</h3>
        <div class="panel-body">
          <div *ngIf="userIsLogin; then loginTrue else loginFalse"></div>
          <ng-template #loginTrue>
            <button class="btn btn-warning" (click)="changeUserStatus()">
              Logout
            </button>
            El usuario SÍ está logado.
          </ng-template>
          <ng-template #loginFalse>
              <button class="btn btn-primary" (click)="changeUserStatus()">
                Login
              </button>
              El usuario NO está logado.
            </ng-template>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Directivas de atributo: ngClass</h3>
          <div class="panel-body">
            <button class="btn btn-default" (click)="changeAlertStatus('success')">
              Éxito
            </button>
            <button class="btn btn-default" (click)="changeAlertStatus('error')">
                Error
            </button>            
            <div class="alert" [ngClass]="{
                'alert-success': alertStatus == 'success',
                'alert-danger': alertStatus == 'error'
            }">
              Lorem ipsum dolor sit amet ...
            </div>
          </div>
        </div>
      </div>    

      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Directivas de atributo: ngStyle</h3>
            <div class="panel-body">
              <button class="btn btn-default" (click)="changeAlertStatus2('success')">
                Éxito
              </button>
              <button class="btn btn-default" (click)="changeAlertStatus2('error')">
                  Error
              </button>            
              <div class="alert" [ngStyle]="printInlineStyles()">
                Lorem ipsum dolor sit amet ...
              </div>
            </div>
          </div>
        </div>      

        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Directivas de personalizada (simple)</h3>
              <div class="panel-body">
                <div appSimpleMessage></div>
              </div>
            </div>
          </div>            