<h2>Ejemplos de comunicación entre componentes</h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">@Input y @Output</h3>
    <div class="panel-body">

      <app-child [parentComponentVar]="parentVariable" (childEvent)="getChildVar($event)" (childEvent2)="getChildVar2($event)"></app-child>

      <h4>Comunicación HIJO => PADRE</h4>
      Variable procedente del componente hijo: {{ childComponentVar }}<br/>
      Variable procedente del componente hijo: {{ childComponentVar2 }}      
    </div>
  </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Directiva de ejemplo</h3>
      <div class="panel-body">

          <button (click)="changeMessage('info')">Info</button>
          <button (click)="changeMessage('error')">Error</button>
          <button (click)="changeMessage('warning')">Warning</button>
          
          <br><br>

          <div [appAlertMessage]="alertMessage"></div>


      </div>
    </div>
  </div>

  <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Ejemplos @ViewChild, @ViewChildren</h3>
        <div class="panel-body">
  
          <button class="btn btn-default" (click)="child.suma()">Suma</button>
          <button class="btn btn-default" (click)="sumaTodos()">Suma todos</button>          
          <span class="label label-primary" style="font-size: 16px">
            {{ child.contador }}
          </span>

          <app-child2></app-child2>
          <app-child2></app-child2>
          <app-child2></app-child2>
          <app-child2></app-child2>                              

          <br>
          <br>

          <div #mensaje></div>

          <div #unaDirectiva appSimpleMessage></div>

          <div>
            <button (click)="eChild.disparaEventos()">Dispara evento en ChildComponent</button>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Ejemplos @ContentChild, @ContentChildren</h3>
        <div class="panel-body">

          <app-resta>
            <app-child2></app-child2>
            <app-child2></app-child2>
            <app-child2></app-child2>
            <app-child2></app-child2>                              
          </app-resta>

        </div>
      </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Ejemplo Servicios</h3>
          <div class="panel-body">
  
            <form #agendForm="ngForm">
              <h4>Nuevo contacto</h4>
              <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" required
                name="name" [(ngModel)]="contact.name"
                />
              </div>
              <div class="form-group">
                <label>Teléfono</label>
                <input type="text" class="form-control" required
                name="phone" [(ngModel)]="contact.phone"
                />
              </div>
              <button (click)="nuevoContacto(agendForm)" 
              class="btn btn-succcess" [disabled]="!agendForm.form.valid">
                Añadir contacto
              </button>              
            </form>
            
            <br>

            <app-listado-contactos></app-listado-contactos>

          </div>
        </div>
      </div>