<div class="content-child">
  <div class="label label-primary">COMPONENTE DE LA RUTA HIJA</div>
  <div *ngIf="activeEmployee">
    <br>
    <strong>Nombre: </strong> {{ activeEmployee.name }}
    <br>
    <strong>Email: </strong> {{ activeEmployee.email }}    
  </div>
</div>
