<div class="content-child" style="background-color: #f3f3f3;">
  <div class="label label-primary">COMPONENTE HIJO</div>
  <h4>Comunicación PADRE => HIJO</h4>
  Variable procedente del componente padre: <strong>{{ parentComponentVar }}</strong>
</div>
