<div style="background-color: #f3f3f3;">
  <h4>LISTADO DE CONTACTOS</h4>

  <ul>
    <li *ngFor="let contact of contacts">
      <strong>Nombre: </strong> {{ contact.name }}
      <br>
      <strong>Teléfono: </strong> {{ contact.phone }}      
    </li>
  </ul>
</div>
