<h2>Ejemplos de enrrutamiento</h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Navegación con parámetros</h3>
    <div class="panel-body">

      <div>
        <button class="btn" (click)="showEmployee(1)">Usuario 1</button>
        <button class="btn" (click)="showEmployee(2)">Usuario 2</button>
        <button class="btn" (click)="showEmployee(3)">Usuario 3</button>                
      </div>

      <a [routerLink]="['editar']" *ngIf="activeEmployee">        
        El usuario activo es: <strong>{{ activeEmployee.name }}</strong>
      </a>

      <router-outlet></router-outlet>
      
    </div>
  </div>
</div>